<div class="wrapper">
<div class="carte">

  <div class="divImg"></div>

  <div class="titre">
   Sociéte  Miladi
    <hr>
  </div>

  <div class="tab">
    <img src="assets/about/sablier.svg" alt="sablier" class="icone">
    <span>20</span>
  </div>
  <div class="tab">
    <img src="assets/about/liste.svg" alt="ingredients" class="icone">
    <span>8</span>
  </div>
  <div class="tab">
    <img src="assets/about/user.svg" alt="user" class="icone">
    <span>5</span>
  </div>

  <div class="info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolorum explicabo maxime placeat tempore et expedita earum voluptas at vel.
  </div>

  <div class="btnSection">
    <a href="#">More Information</a>
  </div>

</div>
</div>
