<div class="wrapperx">
<div class="container">
  <div class="chat">
    <div class="chat-header">
      <div class="profile">
        <div class="left">
          <img src="assets/chats/arrow.png" class="arrow">
          <img src="assets/chats/pp.png" class="pp">
          <h2>Zied</h2>
          <span>online</span>
        </div>
        <div class="right">
          <img src="assets/chats/video.png" class="icon">
          <img src="assets/chats/phone.png" class="icon">
          <img src="assets/chats/more.png" class="icon">
        </div>
      </div>
    </div>
    <div class="chat-box">
      <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
          <p><img src="assets/chats/emoji-1.png" class="emoji">
            Hi, Anware
          </p>
          <div class="check">
            <span>4:00 PM</span>
            <img src="assets/chats/check-2.png">
          </div>
        </div>
      </div>
      <div class="chat-l">
        <div class="mess">
          <p>
            Oh! hi <img src="assets/chats/emoji-2.png" class="emoji">
          </p>
          <div class="check">
            <span>4:00 PM</span>
          </div>
        </div>
        <div class="sp"></div>
      </div>

      <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
          <p>
            How are you doing?
          </p>
          <div class="check">
            <span>4:00 PM</span>
            <img src="assets/chats/check-2.png">
          </div>
        </div>
      </div>
      <div class="chat-l">
        <div class="mess">
          <p>I'm doing alright. How about you?</p>
          <div class="check">
            <span>4:00 PM</span>
          </div>
        </div>
        <div class="sp"></div>
      </div>

      <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
          <p>
            Not too bad. The weather is great isn't it?
          </p>
          <div class="check">
            <span>4:00 PM</span>
            <img src="assets/chats/check-2.png">
          </div>
        </div>
      </div>
      <div class="chat-l">
        <div class="mess">
          <p>
            Yes. It's absolutely beautiful today.
          </p>
          <div class="check">
            <span>4:00 PM</span>
          </div>
        </div>
        <div class="sp"></div>
      </div>

      <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
          <img src="assets/chats/post2.jpg" class="img_chat">
          <div class="check">
            <span>4:00 PM</span>
            <img src="assets/chats/check-2.png">
          </div>
        </div>
      </div>
      <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
          <p>I wish it was like this more frequently.</p>
          <div class="check">
            <span>4:00 PM</span>
            <img src="assets/chats/check-2.png">
          </div>
        </div>
      </div>
      <div class="chat-l">
        <div class="mess">
          <p>
            Me too. <img src="assets/chats/heart.png"  class="emoji">
          </p>
          <div class="check">
            <span>4:00 PM</span>
          </div>
        </div>
        <div class="sp"></div>
      </div>
      <div class="chat-r">
        <div class="sp"></div>
        <div class="mess mess-r">
          <p>
            So where are you going now?
          </p>
          <div class="check">
            <span>4:00 PM</span>
            <img src="assets/chats/check-1.png">
          </div>
        </div>
      </div>
    </div>

    <div class="chat-footer">
      <img src="assets/chats/emo.png" class="emo">
      <textarea placeholder="Type a message"></textarea>
      <div class="icons">
        <img src="assets/chats/attach file.png">
        <img src="assets/chats/camera.png">
      </div>
      <img src="assets/chats/mic.png" class="mic">
    </div>
  </div>
</div>
</div>
