<!--
<div class="wrapper">
  <nav>
    <h2>Construction Miladi</h2>
    <ul class="links">
      <li><a href="">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a href="">Coding</a>
        <ul class="dropdown">
          <li><a href="">Java</a></li>
          <li><a href="">C++</a></li>
          <li class="dropdown-link"><a href="">JavaScript</a>
            <ul class="dropdown-2">
              <li><a href="">React</a></li>
              <li><a href="">Vue</a></li>
              <li><a href="">Angular</a></li>
            </ul>
          </li>
          <li><a href="">PHP</a></li>
        </ul>
      </li>
      <li><a routerLink="/contact-us">Contact</a></li>
    </ul>
  </nav>
</div>
<a href="https://www.youtube.com/channel/UCbxtRXeVSlSUhgDy9PyzDrw" style="display: block;text-align: center;">
  <img src="img/yt.png">
</a>
-->
<header>
  <div class="logo-container">
    <img src="assets/home-//logo.svg" alt="logo" />
    <h4 class="logo">Three Dots</h4>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link"routerLink="/chats">Specs</a></li>
      <li><a class="nav-link" routerLink="/about">About</a></li>
      <li><a class="nav-link" routerLink="/contact-us">Contact</a></li>
      <li><a class="nav-link" routerLink="/">Logout</a></li>
    </ul>
  </nav>
  <div class="cart">
    <img src="assets/home-/cart.svg" alt="cart" />
  </div>
</header>

<main>
  <section class="presentation">
    <div class="introduction">
      <div class="intro-text">
        <h1>Laptop for the future</h1>
        <p>
          The new 14 inch bezeless display oferring a 4k
          display with touch screen.
        </p>
      </div>
      <div class="cta">
        <button class="cta-select">14 Inch</button>
        <button class="cta-add">Add To Cart</button>
      </div>
    </div>
    <div class="cover">
      <img src="assets/home-/matebook.png" alt="matebook" />
    </div>
  </section>

  <div class="laptop-select">
    <img src="assets/home-/arrow-left.svg" alt="" />
    <img src="assets/home-/dot.svg" alt="" />
    <img src="assets/home-/dot-full.svg" alt="" />
    <img src="assets/home-/dot-full.svg" alt="" />
    <img src="assets/home-/arrow-right.svg" alt="" />
  </div>

  <img class="big-circle" src="assets/home-/big-eclipse.svg" alt="" />
  <img class="medium-circle" src="assets/home-/mid-eclipse.svg" alt="" />
  <img class="small-circle" src="assets/home-/small-eclipse.svg" alt="" />
</main>
